body {
    background-color: rgb(15, 90, 86);
    padding-top: 3.75rem;
}
h1, h2, .risultato {
    color: white;
    text-align: center;
}
.box {
    padding: 30px 0;
    text-align: center;
}
input {
    font-size: xx-large;
    background-color: rgb(204, 157, 29);
    color: white;
    border: rgb(204, 157, 29) .0625rem ;
    border-radius: .625rem;
    padding: .625rem;
}
input:checked {
    background-color: black;
}

.risultato {
    padding: 50px;
}

.giocatore, .computer {
    padding: 0 2.5rem ;
}
.box-risultato {
    display: none;
}
.show {
    display: block;
}